/* ----------------------------------------
		Website by David Gaultiere
		http://www.davidgaultiere.com
---------------------------------------- */


/* ----------------------------------------
		Base Styles
---------------------------------------- */

html {
	border-top: 5px solid #2099B4;
}

body {
    display: block;
		font-family: 'brandon-grotesque', 'Brandon Grotesque', 'Helvetica', 'Arial', sans-serif;
    /* font-family: 'proxima-nova', 'Proxima Nova', 'Helvetica', 'Arial', sans-serif; */
		font-weight: 300;
    font-size: 18px;
    color: #333;
    padding: 0;
    z-index: 1;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a,
a:visited {
    color: #2099B4;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #333;
    cursor: pointer;
}

.hr {
	display: block;
	width: 96%;
	height: 1px;
	margin: 10px auto;
	border-top: 1px solid #e7e7e7;
}

.hr-side {
	display: inline-block;
	width: 10%;
	max-width: 160px;
	height: 10px;
	margin: 0 5px;
	border-top: 1px solid #e7e7e7;
}

.grid {
	display: block;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid-item {
	display: inline;
	float: left;
	height: 75%;
	width: 97%;
	margin: 1.5%;
  overflow: hidden;
}

.grid-item img {
  max-width: 100%;
}

.light-em {
  color: #aaa;
  font-weight: 600;
}

/* Prevent flash of unstyled text */
.wf-loading-content {
  opacity: 1;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  -webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;
}

.wf-loading .wf-loading-content {
  opacity: 0;
  transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}


/* ----------------------------------------
		Content Styles
---------------------------------------- */

#headshot {
  display: block;
  margin: 100px auto 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('/img/david.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -999999px;
}

#my-name {
  display: block;
  margin: 40px auto 0;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}

#title {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.description {
  display: block;
  margin: 30px auto;
  width: 98%;
  max-width: 690px;
  padding: 1%;
}

.description p {
    margin: 0 auto 15px;
    padding-bottom: 0;
    text-align: center;
    line-height: 1.6;
}

#connect {
    display: block;
    margin: 30px auto 20px;
    text-align: center;
}

#connect h3 {
    display: block;
    margin: 0 auto 15px;
    font-size: 24px;
    font-weight: 300;
}

#connect p {
    margin: 0 auto 20px;
    padding-bottom: 0;
    text-align: center;
}

#social a,
#social a:visited {
    margin: 0 8px;
    font-size: 28px;
    color: #555;
}

#social a:hover,
#social a:active,
#social a:focus {
    color: #2099B4;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip span {
    display: none;
}

.tooltip:hover span,
.tooltip:active span,
.tooltip:focus span {
    display: inline-block;
    position: absolute;
    padding: 5px;
    text-align: center;
    background: #ddd;
    background: rgba(221, 221, 221, .9);
    border-radius: 2px;
    color: #333;
    font-size: 14px;
    bottom: 26px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    z-index: 98;
}

.tooltip:hover span:before,
.tooltip:active span:before,
.tooltip:focus span:before {
    border: solid;
    border-color: #ddd transparent;
    border-width: 6px 6px 0 6px;
    top: 26px;
    content: "";
    left: 50%;
    margin-left: -6px;
    position: absolute;
    z-index: 99;
}

.fa.fa-medium {
		font-size: 26px;
}

#ichthys {
    display: block;
    margin: 40px auto 20px;
    text-align: center;
}

#ichthys a,
#ichthys a:visited {
    color: #333;
    font-size: 14px;
}

#ichthys a:hover,
#ichthys a:active,
#ichthys a:focus {
    color: #2099B4;
}



/* ----------------------------------------
		Work Page
---------------------------------------- */

#back-home {
	display: inline-block;
	margin: 10px 12px;
	font-size: 16px;
}

.subpage #headshot {
  margin: 40px auto 0;
  width: 70px;
  height: 70px;
}

.subpage #name {
	margin: 15px auto 0;
  font-size: 22px;
	font-weight: 400;
	text-align: center;
}

.subpage #title {
	margin: 48px auto;
	font-size: 28px;
	font-weight: 700;
}

.subpage .description {
	margin: 40px auto;
	max-width: 360px;
}

.subpage em {
	font-style: normal;
	font-weight: 700;
}

.subpage .hr {
	width: 40%;
	max-width: 200px;
	margin: 20px auto;
}

#portfolio {
	margin: 60px auto;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 45px;
}

.subpage .grid {
	max-width: 768px;
}

.subpage a.grid-item {
	color: #333;
	min-width: 47%;
	-webkit-transition: 0.3s ease all;
	   -moz-transition: 0.3s ease all;
	    -ms-transition: 0.3s ease all;
	     -o-transition: 0.3s ease all;
	        transition: 0.3s ease all;
}

.grid-links a.grid-item {
  border-radius: 5px;
}

.grid-links a.grid-item:hover,
.grid-links a.grid-item:focus,
.grid-links a.grid-item:active {
	color: rgba(26,153,181,1);
	background: rgba(150,150,150,0.18);
	/* background: rgba(115,187,199,0.2); */
}

.grid-links .grid-item img {
	display: block;
	margin: 0 auto;
	width: 400px;
	max-width: 100%;
	height: auto;
}

.grid-links .grid-item.padded {
  padding: 6%;
}

.grid-links .grid-item.padded img {
  max-width: 88%;
}

.grid-links .grid-item h4 {
	text-align: center;
	margin: 15px auto 5px;
	padding: none;
}

.grid-links .grid-item h5 {
	text-align: center;
	margin: 0 auto 25px;
	padding: none;
	color: #b7b7b7;
	text-transform: uppercase;
	font-size: 14px;
}

.subpage #blurb h2 {
	text-align: center;
	margin-bottom: 35px;
}

.subpage #blurb h3 {
	text-align: center;
	font-style: italic;
	margin-bottom: 25px;
}



/* ----------------------------------------
    Photos Page
---------------------------------------- */

#photography {
  margin: 60px auto;
}

#photography {

}

.photo-grid {
  display: table;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto 100px;
}

.photo-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 100%;
  height: auto;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.photo-grid-item:hover,
.photo-grid-item:active,
.photo-grid-item:focus {
  background-color: #f0f0f0;
  border-radius: 2px;
}

.photo-grid-item img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border-radius: 2px;
}



/* ----------------------------------------
		Media Queries
---------------------------------------- */

@media screen and (max-width: 360px) {
  .hr-side {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  .photo-grid {
    max-width: 360px;
  }

  .photo-grid-item {
    width: 180px;
    height: 180px;
  }
}

@media screen and (min-width: 640px) {
  .photo-grid {
    max-width: 600px;
  }

  .photo-grid-item {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
	.grid-item {
		width: 47%;
	}

	#back-home {
		margin: 10px 20px;
	}

	#work-page #title {
		font-size: 36px;
	}

	#work-page .description {
		max-width: 640px;
	}

	.hr-side {
		width: 18%;
		margin: 0 10px;
	}
}

@media screen and (min-width: 980px) {
	.grid-item {
		width: 30.33333%;
	}

  .photo-grid {
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px) { }
