#contact {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /*display: block;*/
  margin: 0;
  background-color: rgba(51,51,51,0.85);
  font-size: 16px;
}

#contact-form {
  width: 500px;
  max-width: 90%;
  display: block;
  position: relative;
  margin: 10% auto 0;
  padding: 15px 25px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 1;
  font-size: 16px;
  color: #333;
}

#contact-form h2 {
  font-weight: 400;
  font-size: 22px;
  margin: 10px 0;
}

#cancel {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 32px;
  line-height: .7;
  color: #777;
  cursor: pointer;
}

#cancel:hover,
#cancel:focus,
#cancel:active {
  color: #333;
}

input,
textarea,
.error,
.success {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 8px;
  border: 1px solid;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'proxima-nova', 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
  background-color: transparent;
}

input,
textarea {
  border-color: #9c9c9c;
  color: #333;
}

input:focus,
textarea:focus {
  -webkit-appearance: none;
  outline: none;
  border-color: #2099B4;
}

textarea {
  resize: none;
}

input[type=submit] {
  background-color: #2099B4;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus {
  background-color: #333;
}

.error {
  border-color: #c23428;
  color: #c23428;
}

.success {
  border-color: #2eb150;
  color: #2eb150;
}
